<h1>User's Tickets</h1>
<div>
    <button (click)="logout()">Log Out</button>
</div>
<br/>
<div>
    <table>
        <tr>
            <td>Ticket ID</td>
            <td>Amount</td>
            <td>Date Submitted</td>
            <td>Date Resolved</td>
            <td>Description</td>
            <td>Auther</td>
            <td>Resolver</td>
            <td>Status</td>
            <td>Type</td>
        </tr>
        <tr *ngFor="let tic of ticket">
            <td>{{tic.ticketid}}</td>
            <td>{{tic.amount}}</td>
            <td>{{tic.datesubmitted}}</td>
            <td>{{tic.dateresolved}}</td>
            <td>{{tic.description}}</td>
            <td>{{tic.authorid}}</td>
            <td>{{tic.resolverid}}</td>
            <td>{{tic.statusid}}</td>
            <td>{{tic.typeid}}</td>
        </tr>
    </table>
</div>